.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  overflow: hidden;
}
.dice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.result {
  padding-top: 2em;
  overflow-wrap: normal;
}